:host {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.left-logo {
  flex: 0 0 60%;
  background-color: #ffffff;
  background-image: url(/assets/imgs/nen-cong.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
  color: #5680f9;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-logo img {
  max-width: 80%;
  height: auto;
}

.tagline {
  margin-top: 30px;
  font-size: 52px;
  text-align: center;
}

.subtitle {
  text-align: center;
  font-size: 28px;
}

.dots {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.dots span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #bbb;
}

.dots .active {
  background: #5680f9;
}

.right {
  flex: 0 0 40%;
  background: #ffffff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right .doi-nn {
  position: absolute;
  top: 25px;
  right: 25px;
  display: flex;
}
